<html>
    <head>
        <title>Form Page</title>
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <div class='main'>
            {{clist}}
        </div>

        <h2> Student Form </h2>
        <form class="form1">
            <label for="first_name">First name:</label>
            <input type = "text" name = "first_name" />
            <br><br>
            <label for="first_name">Last name:</label>
            <input type = "text" name = "last_name" />
            <br><br>
            <input type = "submit">
        </form>
    </body>